*.user
/Release
/Debug
/buffers/Debug
/buffers/Release
/buffers/x64
/console_dumper/Debug
/console_dumper/Release
/console_dumper/x64
/pe_bliss2/build
/tests/Debug
/tests/Release
/tests/x64
/utilities/Debug
/utilities/Release
/utilities/x64
.vs
documents
/x64
oldtests